
@{
    ViewBag.Title = "Employeeinfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        font-family:Arial,sans-serif;
        border-collapse:collapse;
        width:100%;
    }
    td,th{
        border:1px solid #dddddd;
        text-align:left;
        padding:8px

    }
</style>

<h2>Employeeinfo</h2>

<table>
    <tr>
        <th>EmployeeId</th>
        <th>Employeename</th>
        <th>Employeelocation</th>
    </tr>
    <tr>
        <td>@Model.EmployeeId</td>
        <td>@Model.Employeename</td>
        <td>@Model.Employeelocation</td>
    </tr>
</table>
